<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Title</title>
  <link rel="icon" href="../../favicon.ico" />
  <link rel="stylesheet" href="../../styles.css" />
  <link rel="stylesheet" href="./client-server.css" />
</head>

<body>
  <nav class="navbar">
    <a class="navbar-links" href="../../index.html">
      <h2>Home</h2>
    </a>
    <a class="navbar-links" href="../basics/client-server.html">
      <h3>Basics</h3>
    </a>
    <a class="navbar-links" href="../front-end-js/front-end-js.html">
      <h3>Front End JavaScript</h3>
    </a>
  </nav>

  <div class="notes-section">
    <div class="subtitle">
      <h1 id="subtitle-heading">Hardware of the Internet</h1>
      <div class="subsubtitle">
        <h2>How do computers communicate with each other?</h2>
        <img src="./internet-cables.png" alt="">
      </div>
      <div class="subsubtitle">
        <h2>Lorem ipsum dolor sit amet.</h2>
        <div class="text">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis fugiat voluptate reprehenderit odit numquam
            magni ratione sit officia perferendis ipsum, fugit unde consequatur, eveniet praesentium illo ipsam nobis
            error itaque.
          </p>
        </div>
      </div>
      <div class="subsubtitle">
        <h2>How are electrical signals sent through wires?</h2>
        <img src="./wire-internet.png" alt="">
      </div>
      <div class="subsubtitle">
        <h2>How to create a voltage difference?</h2>
        <img src="./voltage-difference.png" alt="">
      </div>
    </div>

    <div class="subtitle">
      <h1 id="subtitle-heading">Static vs Dynamic websites</h1>
      <div class="subsubtitle">
        <div class="static-website-flex">
          <h2>Static websites </h2> 
          <p>&nbsp (you are looking at a static website)</p>
        </div>
        <img src="./static-websites.png" alt="">
      </div>
      <div class="subsubtitle">
        <h2>Dynamic websites</h2>
        <img src="./dynamic-websites.png" alt="">
        <div class="text">
          <p>Static websites don't require a database</p>
          <p>Dynamic websites do require a database</p>
        </div>
      </div>
      <div class="subsubtitle">
        <h2>What do HTTP requests look like?</h2>
        <div class="text">
          <p>

          </p>
        </div>
      </div>
    </div>

  </div>
</body>

</html>